* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-banner {
    width: 100%;
    background-image: url('../images/banner.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    
}
.banner-text {
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}
.banner-text h1 {
    font-size: 50px;
}
.banner-text span {
    font-size: 38px;
    color: #f2db18;
    
}
.banner-text p {
    font-size: 20px;
}
.banner-text a {
    text-decoration: underline;
    color: #f2db18;
    font-size: 26px;

}
/* .banner-text a:hover {
    transition: 0.7s;
    text-decoration: none;
} */
.img-banner{
    width: 40%;
}